{% extends 'myapp/base.html' %}

<h1>{% block myhdg %}Hello Dipal! {% endblock %}</h1>

{% block body_block %}
    {% if top_list %}
        <h2>List of Topics</h2>
        <ol>
            {% for top  in top_list %}
                <li>
                    <a href="{% url 'myapp:detail' top.id %}">
                        {{ top.name}}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
    <p>Last login at: {{ request.session.last_login }}</p>
    <p><a href="{% url 'myapp:about' %}">About Page</a></p>
{% endblock %}
